*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container {
    font-family: 'Inter';
    font-weight: normal;
    width: 1440px;
    margin: auto;
}


    /*------------------------------ header ------------------------------------------*/

.header { 
    padding: 12px 80px;
    background: #232536;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    
}

.logo__image-cart {
    width: 50px;
}

.logo span {
    width: 250px;
    font-family: 'Inter';
    font-weight: bold;
    color: white;
    font-size: 12px;
    line-height: 17px;
    margin-left: 10px;
}



.list {
    display: flex;
    align-items: center;
}

.navigation li{
    list-style-type: none;
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.button {
    padding: 16px 48px;
    background-color: #ffff;
}

.button a {
    color: #232536;
    font-size: 18px;
    font-weight: 700;
}

/* ---------------------------- main-content -------------------------------------- */



.main-content {
    height: 720px;
    background-image: url(images/minutka2.webp);
    background-size: cover;
    color: white;
    overflow: hidden;
}

.main-content__wrap {
    margin: 120px 80px;
    font-weight: 500;
    
}

.main-content__posted span {
    font-weight: bold;
}

.main-content h1 {
    margin-top: 24px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
}

.main-content__data {
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    
}

.main-content__data span {
    color: #FFD050;
}

.main-content__text {
    margin-top: 16px;
    font-weight: 400;
    line-height: 28px;
}

.main-content__wrap button {
    border: none;
    background-color: #FFD050;
    padding: 16px 48px;
    color: #232536;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 65px;
}

/*------------------------------- POSTS  ----------------------*/

.wrapper {
    padding: 0px 80px;
}
.posts {
    display: flex;
    
    margin-top: 120px;
}

.featured__content {
    padding: 0px 32px;
    margin-top: 66px;
}
.featured__content_button a {
    text-decoration: none;
    color: #232536;
}

.featured__content_data {
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.featured__content_data span {
    color: #592EA9
}

.featured__content_title {
    margin-top: 16px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.featured__content_text {
    margin-top: 16px;
    line-height: 28px;
    color: #6D6E76;
    font-weight: 400;
}

.featured__content_button {
    display: inline-block;
    margin-top: 32px;
    background: #FFD050;
    padding: 16px 48px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
}

.posts__all_posts {
    width: 100%;
    margin-left: 32px;
    
 
    
}

.posts__all_posts_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.posts__all_posts_header a {
    text-decoration: none;
}

.column__wrapper {
    margin-top: 32px;
}

.column {
    padding: 32px;
}
.column:hover {
    background: #FBF6EA;
    transition: 0.5s;
    
}




.column__data {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
}

.column__data span {
    color: #592EA9;
}


.column h1 {
    max-width: 370px;
    margin-top: 8px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}

.column a {
    text-decoration: none;
}


/* -------------- ABOUT US ---------------*/

.about__us {
    margin-top: 130px;
}

.about__us_head {
    width: 1060;
    display: flex;
    justify-content: end;
   
}

.left_side {
    width: 780px;
    height: 23px;
    background: #FFD050;
}

.right_side {
    width: 280px;
    height: 23px;
    background: #592EA9;
}

.about__us__content {
    padding: 96px 108px 96px 80px;
    background: #F4F0F8;
    display: flex;
    justify-content: space-between;
}

.content_left_title {
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    color: #232536;
}

.content__left h1 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-top: 24px;
}

.content_left_text {
    margin-top: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #6D6E76;
}

.content__left_button {
    margin-top: 16px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #592EA9;
}

.content__left_button a {
    text-decoration: none;
}

.content__left {
    width: 45%;

}

/*------------------ category --------------*/

.category {
    margin-top: 130px;
}
.category__title {
    text-align: center;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}
.category__wrapper {
    display: flex;
    justify-content: space-between;
    
}
.category__wrapper_column {
    padding: 32px;
    max-width: 296px;
    border: 1px solid #6D6E76;
    margin-top: 48px;
}

.category__wrapper_column:hover {
    background: #FFD050
}

.column_icon {
    display: inline-block;
    padding: 12px;
    background-color: #FBF6EA;
    
}
.category__wrapper_column img {
    width: 48px;
    height: 48px;
    
}
.category__wrapper_column h1 {
    margin-top: 16px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}
.category__wrapper_column p {
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #6D6E76;   
}

/*----------------- footer ----------------------- */

.footer {
    background-color: #232536;
    max-width: 100%;
    padding: 60px 80px;
    margin-top: 130px;
}

.footer-header {
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    align-items: center;}

.footer-list li {
    margin-left: 24px;
    list-style-type: none;
    
}
.footer-list li a {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    
}

.footer-form {
    padding: 80px 64px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}
.footer-form__title {
    max-width: 52%;
}

.footer-form__title h1 {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #FFFFFF;
}

.footer-form__input {
    max-width: 40%;
    display: flex;
    align-items: center;
}

.footer-form__input input {
    max-width: 320px;
    height: 56px;
    padding: 14px 160px 14px 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    background: transparent;
    font-size: 16px;
    color: #6D6E76;
    border: 1px solid #4C4C4C;
}

.footer-form__button {
    display: inline-block;
    background-color: white;
    padding: 16px 48px;
    height: 56px;
    font-family: 'Sen';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
    background: #FFD050;
    margin-left: 24px;
}

.icon-facebook {
    width: 20px;
    height: 20px;
    color: white;
    background-color: white;
    
}

.footer-contacts__addres {
    font-family: 'Inter';
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
}

/*----------------- BLOG ----------------------- */

.main-content__BLOG {
    background-image: none;
    background-color: #F4F0F8;
    height: auto;
}

.main-content__wrap_BLOG {
    display: flex;
    justify-content: space-between;
    margin: 80px;
}

.main-content__leftSide {
    max-width: 46%;
}

.main-content__leftSide .main-content__posted {
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
}

.main-content__leftSide h1 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.main-content__leftSide .main-content__data {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
}

.main-content__leftSide .main-content__data span {
    color: #592EA9;
}



.main-content__leftSide .main-content__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

/* --------------BLOG---All Posts----*/

.posts_title {
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
letter-spacing: -2px;
color: #232536;
margin-top: 64px;


}

.posts_title__line {
    width: 100%;
    height: 1px;
    background-color: #6D6E76;
    opacity: 0.32;
    margin-bottom: 36px;
}

.posts_column {
    display: flex;
    align-items: center;
    padding-top: 64px;
}

.posts_column__content {
    margin-left: 32px;
    max-width: 625px;
}

.posts_column__content h3 {
    font-family: 'Inter';
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.posts_column__content h1 {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-top: 20px;
}

.posts_column__content p {
    font-weight: 400;
    line-height: 28px;
    color: #6D6E76;
    margin-top: 16px;
    font-size: 16px;
}

/*-----Blog---Post-----------*/

.post-info {
    max-width: 768px;
    margin: auto;
    padding-top: 128px;
}
.post-info h1 {
    margin: 24px 0px 34px 0px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
}


.author {
    display: flex;
    align-items: center;
    line-height: 28px;
    color: #6D6E76;
}

.author-name {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #592EA9;
    opacity: 0.87;
}

.author div {
    margin-left: 16px;
}
.post-subtitle {
    display: flex;
    align-items: center;
}

.post-subtitle span {
    margin-left: 8px;
    font-family: 'Sen';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}


/*-----Blog---Post---BigImage--------*/

.post-bigImage {
    width: 1280px;
    margin: auto;
    padding: 64px 0;

   
}

.post-bigImage img {
    width: 100%;
    
}

/*-----Blog---Post---description--------*/

.post-description {
    max-width: 800px;
    margin: auto;
}

.post-description__list {
    box-sizing: border-box;
    padding: 24px;
}
.post-description__list li {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #161722;
    opacity: 0.78;
}

.post-description h1 {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.post-description h1:not(:first-child){
    margin-top: 48px;
}

.post-description p {

    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #6D6E76;
}

/*-----Blog---Post---what-next--------*/

.what-next {
    margin: 128px 80px;
    
}

.what-next__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    letter-spacing: -2px;
    margin-bottom: 64px;

color: #000000;
}

.what-next__wrapper {
    display: flex;
    justify-content: space-between;
}
.what-next__column {
    max-width: 405px;
}
.what-next__column h1 {
   margin-top: 16px;
   font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
 

}
.what-next__column p {
   margin-top: 16px;
    line-height: 28px;
    color: #232536;
    opacity: 0.7;
}
.what-next__column_data {
    margin-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
}

.what-next__column_data span {
    color: #592EA9;
}

/*-----Privacy__Policy-------*/

.privacy__title {
    padding: 80px 0;
    background: #F4F0F8;
    text-align: center;
}

.privacy__title p {
    margin-top: 5px;
    font-weight: 400;
    line-height: 28px;
    color: #232536;
    opacity: 0.6;
}

.privacy__title h1 {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
}

.privacy__text {
    max-width: 768px;
    margin: auto;
    padding-top: 96px;
}

.privacy__text h1 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
    margin-top: 32px;
}

.privacy__text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4C4C4C;
}

/*-------Contants-------*/

.contact__content {
    max-width: 768px;
    margin: auto;
    margin-top: 128px;
}
.contact__content h6 {
    font-family: 'Inter';
    font-weight: 900;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
}
.contact__content h1 {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
}
.contact__content_text {
    line-height: 28px;
    text-align: center;
    color: #6D6E76;
}

.contact__info {
    padding: 48px 73px 48px 64px;
    background: #592EA9;
    margin-top: 64px;
}

.workingHours_head {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;
}

.workingHours_head .workingHours_line {
    width: 100%;
    height: 1px;
    opacity: 0.1;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.contact__days {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 20px ;
    line-height: 32px;
    color: #FFFFFF;
}

/*--------------------DropDown__menu--------------------*/

.button__Home {
    position: relative;
}
.dropDown__menu {
    width: 250px;
    height: 250px;
    position: absolute;
    background: #232536;
    color: white;
    opacity: 0.7;
    display: none;
    padding: 10px 40px 0px 40px;
    border-radius: 10px;
    left: -40px; 
}

.dropDown__menu p {
    /* background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
    background: #232536;
    border-radius: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.button__Home:hover .dropDown__menu {
    display: block;
}









